<!DOCTYPE html>
<html>
    <head>
        <title>Aegis Military System</title>
        <link href="./style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <ul>
                <h1>
                    <a href="/Web/Components/index.html">
                        <img src="/Web/Assets/Logo.png" width="240" height="60">
                    </a>
                </h1>
            </ul>
            <ul id="session">
                <li>
                    <a href="/Web/Components/Introduce/Introduce.html">
                        회사소개
                    </a>
                </li>
                <li>
                    <a href="/Web/Components/BusinessContext/BusinessContext.html">
                        사업영역
                    </a>
                </li>
                <li>
                    <a href="/Web/Components/Visionary/Visionary.html">
                        비전
                    </a>
                </li>
                <li>
                    <a href="/Web/Components/Weapons/Weapon.html">
                        무기소개
                    </a>
                </li>
            </ul>
            <div id="login">
                login
            </div>
        </header>
        <main>

        </main>
        <footer>footer</footer>
    </body>
</html>