<!DOCTYPE html>
<html>
    <head>
        <title>Aegis Military System</title>
        <link href="./style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <ul>
            <h1>
                <a href="/">
                    <img src="/Assets/Logo.png">
                </a>
            </h1>
                <li><a class="a" href="">회사소개</a></li>
                <li><a class="a" href="">사업영역</a></li>
                <li><a class="a" href="">비전</a></li>
                <li><a class="a" href="">무기소개</a></li>
            </ul>
        </header>
        <main>

        </main>
        <footer>footer</footer>
    </body>
</html>