html {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: unset;
}

a {
    color: grey;
    font-style: bold;
    font-size: 20px;
    text-decoration: unset;
}

header {
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > * {
    margin: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

header > ul > h1 {
    margin: unset;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li{
    display: inline-block;
}

#session {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

#login {
    margin-right: 80px;
}